{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
    <div class="container ">
       <div  class="col-xl-4 offset-xl-4 col-md-8 offset-md-2 col-xs-8 offset-xs-2" style="margin-top: 30vh!important;">
           <div class="card">
               <div class="card-body">
                    <h1 class="text-center">{% trans "Log Out" %}</h1>

                    <p class="text-center">{% trans 'Are you sure you want to Log out?' %}</p>

                    <form method="post" action="{% url 'account_logout' %}">
                      {% csrf_token %}
                      {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                      {% endif %}
                      <button type="submit" class="btn btn-sm btn-danger btn-block">{% trans 'Confirm' %}</button>
                    </form>

               </div>
           </div>
       </div>
   </div>
{% endblock %}
