{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
   <div class="container text-center">
       <div class="col-xl-6 offset-xl-3 col-md-8 offset-md-2 col-xs-8 offset-xs-2" style="margin-top: 15vh!important;">
            <div class="card">
            <div class="card-body">
                 <h1>{% trans "Password Reset" %}</h1>

                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <h3>We have sent you an e-mail. <br> Please contact us if you do not receive it within a few minutes</h3>
                <a href="mailto:" style="padding: 8px 30px 8px 30px;" class="btn btn-success"><i class="far fa-envelope"></i> &nbsp;&nbsp;Open My Mail</a>
            </div>
        </div>
       </div>
   </div>
{% endblock %}
