{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="container" >
         <div class="row" style="margin-top: 15vh!important;" >
             <div class="col-xl-6 offset-xl-3 col-md-8 offset-md-2 col-xs-8 offset-xs-2"  >
                 <div class="card">
                     <div class="card-body">
                         <h1>{% trans "Password Reset" %}</h1>
                        {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}

                        <p>{% trans "Forgotten your password? <br> Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset" style="padding-bottom: 25px; padding-top: 20px;">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input class="btn btn-warning btn-block"  type="submit" value="{% trans 'Reset My Password' %}" />
                        </form>


                     </div>
                 </div>
             </div>
         </div>
    </div>
{% endblock %}
