{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block title %}{% trans "Set Password" %}{% endblock %}

{% block content %}

   <div class="container text-center">
       <div  class="col-xl-6 offset-xl-3 col-md-8 offset-md-2 col-xs-8 offset-xs-2" style="margin-top: 15vh!important;">
           <div class="card">
               <div class="card-body">
                    <h1>{% trans "Set Password" %}</h1>

                    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                        {% csrf_token %}
                        {{ form|crispy  }}
                        <input class="btn btn-warning" type="submit" name="action" value="{% trans 'Set Password' %}"/>
                    </form>
               </div>
           </div>
       </div>
   </div>
{% endblock %}
